$primary-color:#272727;
$primary-1:rgb(248, 21, 21);
$primary-2:blue;
$primary-3:green;

$accent-color: #ff652f;
$text-color: #fff;
$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);


